.containerInputs {
    padding: .5rem;
}

.containerNameOptions {
    border-top: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 4.5px;
    transition: ease 0.5s;
}

.containerNameOptions:hover {
    background-color: #bebebe;
}

.containerNameOptions:active {
    background-color: #f3f3f3;
}