.info {
    align-items: center;
    border-bottom: 1px solid #9a9a9a;
    display: flex;
    gap: 0.5rem;
}

.iconWithTitle {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.35rem;
}

.textSpan {
    font-size: 13.28px;
    text-align: center;
}
