@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.containerHeader {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    gap: 0.55rem;
    justify-content: space-around;
    padding: 0.35rem;
    text-align: center;
}
